/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2b3b3bff;
    background-alt: rgba(56, 70, 70, 0.61);
    foreground:     #FFFFFFFF;
    selected:       rgba(57, 82, 83, 0.37);
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
